.btn {
  border: 0px;
  background-color: grey;
  border-radius: 6px;
  padding: 10px;
  font-size: 0.9rem;
}

.btn-default {
  background: #d9d9d9;
  color: #000;
}

.btn-primary {
  background: #307c7e;
  color: #fff;
}
